$primary-color: rgb(39, 44, 84);
$background-grey: rgb(242, 242, 242);

$body-background: #f1f5f8;
$black: #000;
$white: #fff;
$logo-grey: #999999;
$divider: #f4f4f4;

$sider-grey: #bdbdbd;
$headers-color: #00a8d2;
$left-panel-color: #007d9d;
$footer-color: #00a8d2;
$resident-sidebar: #eaf2f2;
$resident-button-border-grey: #bbbbbb;

$grey-color1: #414d55 !important;
$grey-color2: #5e6d78 !important;
$dark-grey: #ddd;
$darker-grey: #333;
$light-grey-color: #fafafa;
$lighter-grey: #ccc;
$blue: #00a8d2;
$light-blue: #00b0d6;
$dark-blue: #52a5d0;
$blue-green: #28f8cb;
$orange: #ff6d4b;

// Responsive break points
$breakpoint-tablet: 768px;

//Padding
$Padding: 0 4rem;
